<!DOCTYPE html>
<html>
<head>
    <title>Inventory System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ url_for('routes.dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('routes.home') }}">Products</a></li>
            <li><a href="{{ url_for('routes.locations') }}">Locations</a></li>
            <li><a href="{{ url_for('routes.movements') }}">Movements</a></li>
        </ul>
    </div>
    <div class="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-message-container">
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
</body>
</html>
